@keyframes paper-clip-appear {
    to{
      bottom: 0px;
      opacity:1;
    }
  }
  
@keyframes panel-appear {
    to{
      right: 0px;
      opacity:1;
    }
  }


.paper-clip {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    bottom: -100%;
    position:fixed;
    opacity:0;
}

.paper-clip>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 10px;
}

.paper-clip.active {
    animation: paper-clip-appear 1s ease forwards;
}
  
    /* #gepetto-panel {
        position:fixed;
        top: 0px;
        right: 0;
        width: 300px;
        height: 100%;
        background-color: #9312e2;
        opacity: 0;   
        
    } */

    

    #gepetto-panel.Active {
        animation: panel-appear 1s ease forwards;
    }

    #gepetto-panel {
        z-index: 10000001; /* TODO ! */
        position: fixed;
        top: 0;
        right: -33vw;
        width: 33vw;
        height: 100vh;
        background-color: var(--color-bg);
        opacity: 0;
        transition: all, .2s, ease-in;
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-inline-end: 1px solid var(--color-primary);
    }

    