@keyframes gepetto-hidden {
  to{
    right: calc(var(--width) * -1);
    opacity:1;
  }
}

@keyframes paper-clip-only {
    to{
      right: -33vw;
      opacity:1;
    }
  }

  @keyframes paper-clip-panel {
    to{
      right: 0;
      opacity: 1;
    }
  }


#gepetto {
  display: flex;
  --width : calc(33vw + 50px);
  z-index: 10000001; /* TODO ! */
  top: 0;
  width: var(--width);
  height: 100vh;
  position: fixed;
  right: calc(var(--width) * -1);
  transition: all 0.3s ease;
}

#gepetto.button {
  right: -33vw;
}

#gepetto.panel.button {
  right:0px;
}

.paper-clip {
    display: inline-block;
    width: 50px;
    height: 60px;
    border-radius: 15px 0px 0px 15px;
    box-sizing: border-box;
    position: relative;
    background: #EDEAEA;
    border: 1px solid #000000;    
    display: inline-block;
    top: 0px;
    position: relative;
    vertical-align: top;
    left: 0;
}

.paper-clip div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: inherit;
  width: inherit;
}

.paper-clip img {
  object-fit: contain;
  width: 30px
}

  
    /* #gepetto-panel {
        position:fixed;
        top: 0px;
        right: 0;
        width: 300px;
        height: 100%;
        background-color: #9312e2;
        opacity: 0;   
        
    } */

    

    #gepetto-panel.Active {
        animation: panel-appear 1s ease forwards;
    }

    #gepetto-panel {
        --border-radius: 2px;
        --color-primary: #0f0f0f;
        transition: all, .2s, ease-in;
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-inline-end: 1px solid var(--color-primary);
        width: 33vw;
    }

    